.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependencias de Node.js
/node_modules

# Archivos de lock
/package-lock.json
/yarn.lock

# Directorios de build
/dist
/build

# Archivos de configuraciones temporales
.DS_Store
.env.local
.env.*.local
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/

# Archivos de configuración y backups temporales
vue.config.js.save
vue.config.js.save.1
